*{
    font-family: 'Courier New', sans-serif;
}

#projectbody{
    background-image: url(bg1.jpg);
    background-repeat: repeat;
    background-size: 100%;
}

#landingbody{
    background-image: url(bg3.jpg);
    background-repeat: repeat;
    background-size: 100%;
}

#contactbody{
    background-image: url(bg4.jpg);
    background-repeat: repeat;
    background-size: 100%;  
}


#toolsbody{
    background-image: url(bg5.jpg);
    background-repeat: repeat;
    background-size: 100%;
}

#landingmain{
    font-family: 'Sofia Sans', sans-serif;
}
